@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  background-color: #efeff0;
}

a {
  text-decoration: none;
  color: #fff;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  /*margin-bottom: 10px;*/
}

h5{
  font-size: 1.57rem;
}

.welcome-message h3{
  color: #ffffff;
}

.container {
    width: 100%; 
    margin: 0; /* Elimina el margen lateral */
    padding: 0; /* Elimina el padding lateral */
    text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  width: 100%; 
  border-bottom: 1px solid #e6e6e6;
  background: linear-gradient(to right, #0c2646 0%, #204065 60%, #2a5788 100%);
  margin-bottom: 60px;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: #777;
}

.header ul li a svg {
  margin-right: 5px;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
}

.heading p {
  color: #828282;
}

.tareas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.tarea {
  background-color: #f4f4f4;
  margin: 10px 0;
  padding: 20px 0 10px;
  position: relative;
}

.tarea .close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  border: none;
  background: none;
}

.form,
.content {
  width: 70%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
  margin-left: 5%;
  margin-right: 5%;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 30px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}


/*.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.98);
}*/

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}


  
.header ul li:last-child {
    margin-right: 100px; /* Agrega un margen derecho de 10px al último enlace */
}  

.logo{
    margin-left: 100px;
}

.welcome-message{
  margin-left: 100px;
}


.imgWelcome{
    position: absolute;
    width: 15%;
    height: 30%;
    top: 15%; /* Ajusta el margen superior según sea necesario */
    left: 50%; /* Coloca la imagen en el centro horizontalmente */
    transform: translateX(-50%); /* Centra horizontalmente la imagen */
    z-index: 1; /* Asegura que la imagen esté encima del contenedor */
}
  
.contenedor {
    position: absolute;
    top: calc(15% + 28%); /* Ajusta la posición vertical debajo de la gota */
    left: 50%; /* Coloca el contenedor en el centro horizontalmente */
    transform: translateX(-50%); /* Centra horizontalmente el contenedor */
    margin: 0 auto; /* Elimina el margen superior */
    width: 400px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.5); /* Ajusta el último valor (0.7) para cambiar la opacidad */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Agrega una sombra */
}

  
  
  .contenedor:before {
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.1); /* Agrega un borde exterior */
  }
  
  .contenedor h2 {
    margin: 0 0 30px;
    padding: 0;
    font-size: 30px;
    color: #2c2c2c;
    text-align: center;
  }
  
  .contenedor .elemento label {
    color: #000000;
    margin-bottom: 20px;
    text-align: left;
  }
  
  .contenedor .elemento input {
    background-color: #d1d2d3;
    width: 100%;
    padding: 10px 0;
    border: 2px solid #e0e6ec;
    color: #000000;
    margin-bottom: 30px;
    border-radius: 10px;
  }

  .btn-primary{
    background-color: #1e88e5;
    color: #fff;
    border-width: 2px;
    font-weight: 400;
    font-size: 0.8571em;
    line-height: 1.35em;
    border: none;
    margin: 10px 1px;
    border-radius: 0.1875rem;
    padding: 11px 22px;
    margin-inline-start: auto;
  }

  .btn-primary:hover{
    background-color: #42A5F5;
    color: #FFFFFF;
    box-shadow: none;
    border-color: #42A5F5;
  }

  .btn-danger{
    border-width: 2px;
    background-color: #FF3636;
    color: white;
    font-weight: 400;
    font-size: 0.8571em;
    line-height: 1.35em;
    border: none;
    margin: 10px 1px;
    padding: 11px 22px;
    border-radius: 0.1875rem;
  }

  .btn-danger:hover{
    background-color: #ff5555;
    color: #FFFFFF;
    box-shadow: none;
    border-color: #ff5555;
  }
  
  #btnLogin {
    width: 100%;
    padding: 15px;
    background-color: #1e88e5;
    border: none;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
    cursor: pointer;
    margin-top: 30px;
    border-radius: 10px;
    margin-bottom: 30px;
  }
  
  #btnLogin:hover {
    background-color: #1e88e5;
    color: #ffffff;
  }
  
  .hstack {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: stretch;
  }

  .vstack {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-self: stretch;
  }
  
  .bi-eye {
    width: 100%;
  }
  
  #olvidarPassword {
    color: #ffa726;
    font-weight: bold;
  }
  
  .contenedor .elemento .password-container {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
  }
  
  .contenedor .elemento .password-container input {
    width: calc(100% - 40px); /* Ajusta según sea necesario */
    padding: 10px;
    border: 2px solid #e0e6ec;
    color: #000000;
    border-radius: 10px 0 0 10px;
  }

  .carousel-item .custom-carousel-content{
    width: 50%;
    transform: translate(0%, -10%);
  }
  .custom-carousel-content{
    text-align: start;
  }
  .custom-carousel-content h1{
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 30px;
  }
  .custom-carousel-content h1 span{
    color: #fbff00;
  }
  .custom-carousel-content p{
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 30px;
  }
  .custom-carousel-content .btn-slider{
    border: 1px solid #fff;
    border-radius: 0px;
    padding: 8px 26px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.5px;
  }

  /*.card {
    border: 0;
    border-radius: 0.1875rem;
    display: inline-block;
    position: relative;
    width: calc(100% - 250px);
    margin-bottom: 20px;
    box-shadow: 0 1px 15px 1px rgba(39, 39, 39, 0.1);
    margin-left: 0;
    background-color: #ffffff;
    transition: margin-left 0.3s ease;
    z-index: -5; /* Ajusta el z-index para colocar el elemento .card encima de .panel-header */
  /*}*/
  .card {
    border: 0;
    border-radius: 0.1875rem;
    display: inline-block;
    position: relative;
    width: calc(100% - 250px);
    margin-bottom: 20px;
    box-shadow: 0 1px 15px 1px rgba(39, 39, 39, 0.1);
    top: -120px;
    z-index: 2; 
    background-color: white;
  }
  
  /*.panel-header {
    height: 60px;
    padding-top: 80px;
    padding-bottom: 45px;
    background: #141E30;
    background: -webkit-gradient(linear, left top, right top, from(#0c2646), color-stop(60%, #204065), to(#2a5788));
    background: linear-gradient(to right, #0c2646 0%, #204065 60%, #2a5788 100%);
    position: relative;
    overflow: hidden;
    margin-top: -70px;
    z-index: 0; /* Ajusta el z-index para colocar el elemento .panel-header detrás de .card */
  /*}*/
  

  .card .card-header {
    padding: 15px 15px 0;
    border: 0;
  }

  .sidebar {
    width: 260px;
    height: 100%;
    background-color: #1E88E5;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease; /* Agrega una transición suave para el cambio de transformación */
    transform: translateX(-260px); /* Mueve el sidebar fuera de la pantalla por defecto */
  }
  
  .sidebar.open {
    transform: translateX(0); /* Muestra el sidebar cuando está abierto */
  }

  .sidebar.open ~ .row .card {
    margin-left: calc(260px + 30px); /* Ajusta el margen izquierdo con un espacio adicional de 20px */
    margin-right: calc(30px); /* Ajusta el margen derecho con un espacio adicional de 20px */
    width: calc(100% - 320px); 
  }
  
  .header .sidebar-open .close-sidebar-button{
    margin-left: calc(160px + 30px); /* Ajusta esta distancia según tu diseño */
  }

  .header .sidebar-open h3 {
    margin-left: calc(10px); /* Ajusta esta distancia según tu diseño */
  }
  
  .sidebar-toggle-button{
    background-color: transparent;
    color: white;
    border: none;
  }

  .button .line{
    height: 2px;
    width: 25px;
    background-color: white;
    margin-bottom: 5px;
  }

  .button .middle-line{
    height: 2px;
    width: 20px;
    background-color: white;
    margin-bottom: 4px;
    margin-right: 15px;
    margin-bottom: 5px;
  }

  .close-sidebar-button{
    background-color: transparent;
    color: white;
    border: none;
    font-size: 20px;
    width: 25px;
    height: 25px;
  }

  #logo-mini{
    opacity: 1;
    float: left;
    width: 34px;
    text-align: center;
    margin-left: 6px;
    margin-right: 12px;
    margin-top: 5%;
  }

  .logo-normal{
    display: block;
    opacity: 1;
    margin-top: 10%;
    font-size: 16px;
  }

  .hstack {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: stretch;
  }

  .logo-contenedor{
    border-bottom: 1.5px solid #ffffff;
    height: 20%;
    width: 80%; /* Ancho de la línea */
    margin: auto; /* Centra horizontalmente la línea */
  }

  .nav-item{
    margin-top: 10%;
    text-align: left;
    margin-left: 0%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
  }

  .nav-item.active {
    border-left: solid #007bff; /* Color de contorno cuando el elemento está activo */
    background-color: #f8f9fa; /* Color de fondo cuando el elemento está activo */
    width: 90%;
    margin-left: 5%;
    border-radius: 30px;
  }

  .nav-item a {
    /* Estilos para los enlaces dentro de los elementos de la lista */
    display: block;
    padding: 5px 0px;
    color: #ffffff;  /*Color del texto */
    text-decoration: none;
    width: 100%;
    margin-left: 15%;
  }
  
  .nav-item a:hover {
    background-color: rgba(233, 236, 239, 0.7);; /* Color de fondo al pasar el mouse sobre el enlace */
    color: #1E88E5;
    border: #efecef;
    border-radius: 30px;
    padding: 5px 35px;
    margin-left: 5%;
    width: 90%;
  }

  .nav-item.active a {
    color: #1E88E5; /* Color del texto del enlace activo */;
  }

  .nav-icon{
    margin-right: 5%;
  }

  .card .card-header {
    display: flex;
    align-items: center;
  }
  
  .card .card-header .card-icon-header {
    margin-right: 0.5rem;
    height: 2rem;
    width: 2rem;
  }
  
  .card .card-header .card-title {
    margin-inline-end: auto;
  }

  
  .panel-header {
    height: 80px;
    background: linear-gradient(to right, #0c2646 0%, #204065 60%, #2a5788 100%);
    position: relative;
    overflow: hidden;
    top: -80px;
  }
  
  .modal-container {
    max-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto; /* Agrega scroll vertical si es necesario */
    padding: 5% 0;
  }
  
  .modal{
    background: var(--clr-white);
    width: 80vw;
    max-width: 400px;
    border-radius: var(--radius);
    /*padding: 2rem 1rem;*/
    text-align: center;
    background-color: white;
    position: relative;
    height: -20%;
  }

  .modal-header button {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    cursor: pointer;
    color: #000; 
    font-size: 1.5rem;
    text-shadow: 0 1px 0 #fff;
  }

  .modal-header{
    background: linear-gradient(to right, #0c2646 0%, #204065 60%, #2a5788 100%);
    width: 100%; /* Ancho completo */
    padding: 10px; /* Añade un relleno para separar el contenido del borde */
    color: #fff; /* Color de texto blanco para contrastar con el fondo */
  }

  .modal-body {
    /*margin: 3% 5%;*/
    background-color: white;
  }
  

  .modal-footer{
    display: flex; /* Establece el contenedor como un flexbox */
    justify-content: flex-end;
    margin-bottom: 3%;
  }

  .modal-footer button:last-child{
    margin-right: 5%; /* Ajusta este valor según el espacio que desees */
  }

  section h5{
    margin-inline-end: 30%;
  }

  .pngGotaWelcome{
    display: block;
    margin: auto;
    width:30%;
  }

  .table-responsive{
    display: grid;
    overflow-x: scroll;
    padding: 15px;
  }

  .td-name{
    max-width: 150px;
  }
  
  .p-datatable .p-column-header-content {
    display: grid; /* Cambio de flex a grid */
    align-items: center; 
  }

  .search-user-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 3%;
    /*flex flex-wrap gap-2 align-items-center justify-content-between hstack*/
  }

  .search-user-container p{
    padding-right: 1%;
    font-size: 18px;
  }

  
  .search-input-container {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos */
  }
  
  .search-input-container input {
    padding: 8px; /* Ajusta el espacio interno del campo de entrada */
    border-radius: 4px; /* Redondea los bordes del campo de entrada */
    border: 1px solid #ccc; /* Agrega un borde al campo de entrada */
    font-size: 14px; /* Ajusta el tamaño del texto */
  }
  
  .search-input-container input:focus {
    outline: none; /* Quita el contorno cuando el campo de entrada está enfocado */
    border-color: #007bff; /* Cambia el color del borde cuando el campo de entrada está enfocado */
  }

  /* Estilos para el paginador de PrimeReact */
.p-paginator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

/* Estilos para los botones del paginador */
.p-paginator .p-paginator-current,
.p-paginator .p-paginator-pages {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-paginator .p-paginator-pages button {
  margin: 0 0.25rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  cursor: pointer;
}

.p-paginator .p-paginator-pages button:hover {
  background-color: #f0f0f0;
}

/* Estilos para el botón activo del paginador */
.p-paginator .p-paginator-pages button.p-paginator-active {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.p-datatable-custom {
  border-collapse: collapse;
  width: 100%;
}

.p-datatable-custom th,
.p-datatable-custom td {
  border-bottom: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

.p-datatable-custom th {
  background-color: #f2f2f2;
}

.p-datatable-custom tr:hover {
  background-color: #ddd;
}


  


  
  
  
  @media (min-width: 768px) {
    .content {
      margin-left: 260px; /* Ajusta el margen izquierdo cuando el ancho de la pantalla es mayor a 768px */
    }
  
    .sidebar.open + .content {
      margin-left: 260px; /* Ajusta el margen izquierdo cuando el Sidebar está abierto */
    }
  }
  
  
  
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .form {
    width: 90%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
}